#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes walk-anim {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}

.madeline-sprite {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover; /* Ou 'auto 100%' si l'image est déformée */
  image-rendering: pixelated;
  /* On force le mouvement par étapes (steps) selon le nombre de frames */
  animation: walk-anim 0.7s steps(4) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.cursor-blink {
  animation: blink 0.8s infinite;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

